<app-menu></app-menu>

<br/><br/><br/><br/>
<div  *ngIf="!this.constance.progressbar_deconnexion">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="#">Etablissements</li>
  </ol>


  <mat-progress-bar *ngIf="progressbar_display_establishment" mode="indeterminate"></mat-progress-bar>


  <div *ngIf="!progressbar_display_establishment" >
  <div *ngFor="let batiment of this.batimentlist;let i=index"  >
    <div class="row">
      <div class="col-sm-6">
        <h2><span class="label label-default">{{batiment.name}}</span></h2>
      </div>
      <div lass="col-sm-6" class="button-addroom">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAddRoom" (click)="getEtablissementById(i)">Ajouter salle</button>
      </div>
    </div>


    <hr class="hr_etabl">

    <div  class="row">
      <div *ngFor="let salles of batiment.rooms; let j = index"   class="col-xs-6 col-md-1">
<!--        <a class="thumbnail btn btn-lg ">-->
<!--          {{salles.name}}-->
<!--        </a>-->
        <a  class="btn btn-sq btn-success" (click)="getSallesById(i,j)"   >
          <i class="fa fa-university fa-5x"></i><br><br>
          <b style="font-size: 22px;">{{salles.name}}</b>
        </a>
      </div>
    </div>

  </div>
</div>


  <!--Le block de la boite de dialogue pour ajouter un message public-->
  <div class="dialgo-block" [ngStyle]="{'display':''+addroom_display+''}">


    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="20%"></div>
      <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
      </div>
      <div class="item item-3" fxFlex="60%">
        <br/><br/><br/>
        <mat-card class="example-card">

          <button mat-icon-button  >
            <mat-icon aria-label="Example icon-button with a heart icon"  (click)="OnClose()"  >close</mat-icon>
          </button>

          <mat-card-content>
            <div class="connexion-form">
              <mat-divider  ></mat-divider>
              <br/>

              <mat-progress-bar mode="indeterminate"  *ngIf="addroom_progressbar"></mat-progress-bar>

              <form *ngIf="!addroom_progressbar" class="form-horizontal"  (ngSubmit)="addRoom(frooms)"   #frooms="ngForm">
                <div class="modal-body">

                  <div class="form-group">
                    <label class="control-label col-sm-2" >Nom:</label>
                    <div class="col-sm-10">
                      <input type="text" name="name_room" class="form-control"  placeholder="" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" >Etage:</label>
                    <div class="col-sm-10">
                      <input type="text" name="floor_room" class="form-control"  placeholder="" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <input type="hidden" name="location_id" class="form-control" value="1" placeholder="" ngModel>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">

                  <button type="submit" class="btn btn-success" >Enregistrer</button>
                </div>
              </form>
              <br/>
              <mat-divider></mat-divider>


            </div>
          </mat-card-content>

        </mat-card>

      </div>
    </div>

  </div>



  <!--Le block pour afficher les détails d'une salle-->
  <div class="dialgo-block" [ngStyle]="{'display':''+display_global_block+''}">


    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="20%"></div>
      <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
      </div>
      <div class="item item-3" fxFlex="60%">
        <br/><br/><br/>
        <mat-card class="example-card">

          <button mat-icon-button  >
            <mat-icon aria-label="Example icon-button with a heart icon"  (click)="OnClose_globale_block()"  >{{icon_close}}</mat-icon>
          </button>

          <mat-card-content>
            <div class="connexion-form">
              <mat-divider ></mat-divider>
              <br/>

              <!--mat-progress-bar mode="indeterminate"></mat-progress-bar-->
              <div *ngIf="boolean_menu_display">
                <mat-divider></mat-divider>
                <br/>
                <mat-card-header color="primary" class="details-block cursor_du_boss" (click)="display_details()">
                  <mat-card-title color="primary" class="title-size">Détails</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <br/>
                <mat-card-header color="primary" class="details-block cursor_du_boss" (click)="onsupprimer_salle()">
                  <mat-card-title color="primary" class="title-size">Supprimer</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <br/>
                <mat-card-header color="primary" class="details-block cursor_du_boss" (click)="Update_salle()" >
                  <mat-card-title color="primary" class="title-size">Modifier</mat-card-title>
                </mat-card-header>

                <mat-divider></mat-divider>
              </div>
              <!-- block pour afficher les détails d'une salle -->
              <div *ngIf="boolean_room_details">
                <mat-divider></mat-divider>
                  <br/>
                  <span><b>Etablissement : </b>{{this.room_establissement}}</span>
                  <br/>
                  <span><b>Nom : </b> {{this.room_name}}</span>
                  <br/>
                  <span><b>Etage : </b>{{this.room_floor}}</span>
                  <br/><br/>
                   <mat-divider></mat-divider>
              </div>


            </div>
          </mat-card-content>

          <!--- Modal de la suppression d'une salle --->
          <div *ngIf="suppression_salle">
            <span *ngIf="!progressbar_delete_room">Voulez-vous supprimer cette salle ?</span>
            <br *ngIf="!progressbar_delete_room"/><br *ngIf="!progressbar_delete_room"/>
            <mat-progress-bar *ngIf="progressbar_delete_room" mode="indeterminate"></mat-progress-bar>
            <mat-divider></mat-divider>
            <br/>
            <div *ngIf="!progressbar_delete_room">
              <button mat-button (click)="delete_room()">Oui</button>
              <button mat-button (click)="cancel_delete_room()">Non</button>
            </div>
          </div>

          <!--  Modal de la modification d'une salle -->
          <mat-progress-bar *ngIf="progressbar_update_room"  mode="indeterminate"></mat-progress-bar>
          <form   *ngIf="room_update">

            <div class="modal-body">

              <div class="form-group">
                <label class="control-label col-sm-2" >Nom:</label>
                <div class="col-sm-10">
                  <input type="text" name="name_room_update" class="form-control"  placeholder="" value="{{room_name_update_value}}"   [(ngModel)]="room_name_update_value">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" >Etage:</label>
                <div class="col-sm-10">
                  <input type="text" name="floor_room_update" class="form-control"  placeholder=""  value="{{room_floor_update_value}}" [(ngModel)]="room_floor_update_value">
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <br/><br/>
              <button type="button" class="btn btn-success"  (click)="Submit_Update_salle()" >Modifier</button>
            </div>
          </form>


        </mat-card>





      </div>
    </div>

  </div>





