<app-menu></app-menu>

<br/><br/><br/><br/>
<div class="container-fluid" *ngIf="!this.constance.progressbar_deconnexion">
<div class="container-fluid">

  <ol class="breadcrumb">
    <li class="#">Etablissements</li>
  </ol>

  <div *ngFor="let batiment of this.batimentlist;">
      <h2 ><span class="label label-default">{{batiment.name}}</span></h2><hr>

      <div  class="row">
          <div *ngFor="let salles of batiment.rooms" class="col-xs-6 col-md-3">
              <a class="thumbnail btn btn-lg ">
                {{salles.name}}
              </a>
          </div>
      </div>
  <div>

</div>


