<app-menu></app-menu>
<br/><br/><br/><br/>
<div class="container-fluid"*ngIf="!this.constance.progressbar_deconnexion">
  <ol class="breadcrumb">
    <li>Evenement</li>
  </ol>

   <div class="well well-lg">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Ensembles des evenements</th>
          <th scope="col" style="width: 140px">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row">Ceci est un example d'evenement</td>
          <td scope="row">
            <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
        <tr>
          <td>Ceci est un example d'evenement</td>
          <td scope="row">
            <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
        <tr>
          <td>Ceci est un example d'evenement</td>
          <td scope="row">
            <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>


