<app-menu></app-menu>
<br/><br/><br/><br/>
<div class="container" *ngIf="!this.constance.progressbar_deconnexion">

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="#">Utilisateurs</li>
  </ol>

  <div class="well well-lg">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Matricule</th>
        <th scope="col" style="width: 140px">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">John</td>
        <td scope="row">Doe</td>
        <td scope="row">4564588</td>
        <td scope="row">
          <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      <tr>
        <td scope="row">John</td>
        <td scope="row">Doe</td>
        <td scope="row">4564588</td>
        <td scope="row">
          <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      <tr>
        <td scope="row">John</td>
        <td scope="row">Doe</td>
        <td scope="row">4564588</td>
        <td scope="row">
          <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
