<app-menu></app-menu>
<br/><br/><br/><br/>
<div class="container" *ngIf="!this.constance.progressbar_deconnexion">

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="#">Utilisateurs</li>
  </ol>

  <div class="well well-lg">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Matricule</th>
        <th scope="col" style="width: 140px">Action</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let utilisateur of this.utilisateurslists;" >
        <td scope="row">{{utilisateur.firstname}}</td>
        <td scope="row">{{utilisateur.lastname}}</td>
        <td scope="row">4564588</td>
        <td scope="row">
          <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>
          <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>

          <!--app-listeutilisateurs--  *ngFor="let utilisateur of this.utilisateurslists; let i = index"
                                 [index] = "i"
                                 [firstname] = "utilisateur.firstname"
                                 [lastname] = "utilisateur.lastname"
                                 [email] = "utilisateur.email"
                                 [birthday] = "utilisateur.birthdate"
                                 [role] = "utilisateur.role">
          </app-listeutilisateurs-->

      </tbody>
    </table>

  </div>
</div>
