<mat-spinner *ngIf="this.constance.progressbar_deconnexion"  class="progressbar"></mat-spinner>

<header  *ngIf="!this.constance.progressbar_deconnexion">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand cursor_du_boss" (click)="RootToHome()" >Web-Administration</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{{this.constance.active_monitoring}} cursor_du_boss"  (click)="RootToMonitoring()"><a>Monitoring</a></li>
          <li class="{{this.constance.active_evenement}} cursor_du_boss" (click)="RootEvenements()"><a>Evenements</a></li>
          <li class="{{this.constance.active_utilisateur}} cursor_du_boss" (click)="RootToUtilisateurs()"><a>Utilisateurs</a></li>
          <li class="{{this.constance.active_etablissement}} cursor_du_boss" (click)="RootToEtablissements()"><a>Etablissements</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <button type="button" class="btn btn-default navbar-btn"  (click)="Disconnect()"><mat-icon>power_settings_new</mat-icon></button>

        </ul>
      </div><!--/.nav-collapse -->

    </div><!--/.container-fluid -->
  </nav>

</header>



